[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
djangorestframework = "*"
django-autoslug = "*"
django-countries = "*"
django-phonenumber-field = "*"
drf-yasg = "*"
pillow = "*"
argon2-cffi = "*"
django-storages = "*"
django-taggit = "*"
django-filter = "*"
django-celery-email = "*"
cloudinary = "*"
django-celery-beat = "*"
redis = "*"
celery = "*"
flower = "*"
djoser = "*"

[dev-packages]
psycopg2-binary = "*"
watchfiles = "*"
black = "*"

[requires]
python_version = "3.13"
